{% extends "ebase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - 校园信息交互网登陆【Login】{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>网站登陆【Login】</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>

<div>
<p>Forgot your password? /忘记你的密码？
	<a href="{{ url_for('auth.password_reset_request') }}">点击重置密码[Click here to reset it]</a>
</p>

<p>
	New User? /新用户？
	<a href="{{ url_for('auth.register') }}">
		点击注册[Click here to register]
	</a>
</p>

<p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
</div>
{% endblock %}