<ul class="comments">
	{% for comment in comments %}
	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{ url_for('.user',username=comment.author.username) }}">
				{% if comment.author.avatar %}
				<img class="img-rounded profile-thumbnail" width="40" src="{{ comment.author.avatar }}">
				{% else %}
				<img class="img-rounded profile-thumbnail" width="40" src="/static/avatar/feifei.jpeg">
				{% endif %}
			</a> 
		</div> 
 
		<div class="comment-content">
			<div class="comment-date">&nbsp;{{ moment(comment.timestamp).fromNow() }}</div>
			{% if able %}
				{% set post=Post.query.filter_by(id=comment.post_id).first() %}
				{% if post is not none %}
					<div class="comment-date">来自文章{{ post.header }} |</div>
				{% endif %}
			{% endif %}
			<div class="comment-author">
				<a href="{{ url_for('.user',username=comment.author.username) }}">
					{% if comment.author.username %}
						{{ comment.author.username }}
						{% if comment.author.role.name=='Moderator' %}
						&nbsp;/M/
						{% endif %}
						{% if comment.author.role.name=='Admin' %}
						&nbsp;/A/
						{% endif %}
					{% else %}
						<i>用户已注销</i>
					{% endif %}
				</a>
			</div>

			<div class="comment-body">
				{% if comment.has_reply() or comment.has_replyed %}
				--------------------------------------------<br/>
				<div>
					{% if comment.followed.first() %}
						{% if comment.followed.first().followed.disabled %}
						<p><i>该评论已被协管员屏蔽/This comment has been disabled by a moderator.</i></p>
						{% endif %}
						{% if moderate or not comment.followed.first().followed.disabled %}
							{% if comment.followed.first().followed.body_html %}
								{{ comment.followed.first().followed.body_html | safe }}
							{% else %}
								{{ comment.followed.first().followed.body }}
							{% endif %}
						{% endif %}
					{% endif %}
					{% if comment.followed.first() is none and comment.has_replyed %}
					<p><i>该评论已被协管员删除/This comment has been deleted by a moderator.</i></p>
					{% endif %}
				</div>
				<br/>--------------------------------------------<br/>
				{% endif %}
				
				{% if comment.disabled %}
				<p><i>This comment has been disabled by a moderator.</i></p>
				{% endif %}
				{% if moderate or not comment.disabled %}
					{% if comment.body_html %}
						{{ comment.body_html | safe }}
					{% else %}
						{{ comment.body }}
					{% endif %}
				{% endif %}
			</div>
			{% if moderate %}
				<br>
				{% if comment.disabled %}
				<a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable',id=comment.id,page=page) }}">取消隐藏[Enable]</a>
				{% else %}
				<a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable',id=comment.id,page=page) }}">隐藏[Disable]</a>
				{% endif %}
				<a class="btn btn-danger btn-xs" href="{{ url_for('.delete_comment',id=comment.id,page=page) }}">删除[Delete]</a>
			{% endif %}
			{% if able %}
					{% set post=Post.query.filter_by(id=comment.post_id).first() %}
					{% if post is not none %}
					<a class="btn btn-default btn-xs" href="{{ url_for('.post',id=post.id) }}">前往文章[From]</a>
					{% endif %}
				{% endif %}
			{% if current_user.is_authenticated %}
				<br>
				{% if not comment.disabled %}
				<a class="btn btn-default btn-xs" href="{{
				url_for('.reply',id=comment.id,page=page) }}">回复：[reply]</a>
				{% endif %}
			{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>